@font-face {
    font-family: "Lustria";
    src: url("/fonts/Lustria-Regular.ttf") format("truetype");
}

body {
    background-color: #2f2f3c;
    color: #ffffff;
    font-family: "Lustria", serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header */

.header {
    background: linear-gradient(135deg,#16161d, #191922, #1e1e26, #20202a, #23232c, #2f2f3c, #373746, #2f2f3c, #23232c, #20202a, #1e1e26, #191922, #16161d);
    background-size: 200% 200%;
    background-blend-mode: overlay;
    padding: 30px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: metallicShine 44s infinite alternate ease-in-out;
}

@keyframes metallicShine {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

/* Title of website as it appears in header */

.header h1 {
    margin: 0;
    font-size: 36px;
    letter-spacing: 0.4px;
}

.header a {
    text-decoration: none;
    color: #FFFFFF;
}

.subtitle {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 2px;
    font-style: normal;
    letter-spacing: 0.4px;
}


/* Home page cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 18px;
}

/* Shared card styles */
.card {
    display: block;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
}

.card:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}

/* Unique card styles */
.amazon-card {
    background-color: #fb5322
}

.bluesky-card {
    background-color: #1d8bf9;
}

.farcaster-card {
    background-color: #462d8d;
}

.github-card {
    background-color: #222222;
}

.goodreads-card {
    background-color: #1e1915;
}

.linkedin-card {
    background-color: #196bbd;
}

.pinterest-card {
    background-color: #e10029;
}

.redbubble-card {
    background-color: #e41321;
}

.reddit-card {
    background-color: #fa291d;
}

.tumblr-card {
    background-color: #021a33;
}

.twitch-card {
    background-color: #924df8;
}

.wordpress-card {
    background-color: #3b5fe3;
}

.x-card {
    background-color: #000000;
}

.youtube-card {
    background-color: #fa0038;
}

.zora-card {
    background-color: #3c5dc1;
}

/* Footer */

.footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 30px;
    background: #2f2f3c;
}